.header {
    display: flex;
    justify-content: space-between;
    color: #000;
    font-weight: 700;
    background-color: rgb(189, 173, 173, 0.2);
}

.logo {
    font-size: 28px;
}

.logoRed {
    color: #9F0013;
}

