.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.button {
  margin-left: 20px;
    padding: 8px 25px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  
    background-color: rgb(65, 23, 23);
    color: white;
    transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &:hover,
    &:focus {
      background-color: #9F0013;
      transform: scale(1.1);
    }
}